<br />
<label for="chkShowSprite">Show Sprite</label>
<input id="chkShowSprite" type="checkbox" @bind=showSprite />
<br />

@if (PokemonList is not null)
{
    <table class="table">
        <thead>
            <tr>
                @if (showSprite)
                {
                    <th></th>
                }
                <th @onclick="SortId">Id @(GetArrowString(sortIdDesc))</th>
                <th @onclick="SortName">Name @(GetArrowString(sortNameDesc))</th>
                <th @onclick="SortType">Type @(GetArrowString(sortTypeDesc))</th>
                <th @onclick="SortHp">HP @(GetArrowString(sortHpDesc))</th>
                <th @onclick="SortAttack">Attack @(GetArrowString(sortAttackDesc))</th>
                <th @onclick="SortDefense">Defense @(GetArrowString(sortDefenseDesc))</th>
                <th @onclick="SortSpecialAttack">Special Attack @(GetArrowString(sortSpecialAttackDesc))</th>
                <th @onclick="SortSpecialDefense">Special Defense @(GetArrowString(sortSpecialDefenseDesc))</th>
                <th @onclick="Speed">Speed @(GetArrowString(sortSpeedDesc))</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokemon in PokemonList)
            {
                <tr>
                    @if (showSprite)
                    {
                        <td>
                            <img class="pokemon-sprite" src="@pokemon.Pokemon.Sprites.FrontDefault" alt="" />
                        </td>
                    }
                    <td>@pokemon.Pokemon.Id.ToString()</td>
                    <td>@pokemon.Pokemon.Name</td>
                    <td>@GetPokemonTypes(pokemon.Pokemon)</td>
                    <td>@pokemon.Pokemon.Stats[0].BaseStat</td>
                    <td>@pokemon.Pokemon.Stats[1].BaseStat</td>
                    <td>@pokemon.Pokemon.Stats[2].BaseStat</td>
                    <td>@pokemon.Pokemon.Stats[3].BaseStat</td>
                    <td>@pokemon.Pokemon.Stats[4].BaseStat</td>
                    <td>@pokemon.Pokemon.Stats[5].BaseStat</td>
                    <td><button class="btn-danger delete-button" @onclick="@(() => RemoveRow(pokemon))">X</button></td>
                </tr>
            }
        </tbody>
    </table>
}
