<h1>Pokemon API Test</h1>

@if (_errorMessage is not null)
{
    <label>@_errorMessage</label>
}
else if (!_pokemonNames.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    <select @bind="_selectedPokemon">
        <option value=@string.Empty>(Select)</option>
        @foreach (var pokemonName in _pokemonNames)
        {
            <option value="@pokemonName">@pokemonName</option>
        }
    </select>
    <button @onclick="@(async _ => await ButtonClicked())">Get Stats</button>
    <label>Showing stats for @(_pokemonList.Count) Pokemon.</label>
    <PokemonComponent PokemonList="@_pokemonList"></PokemonComponent>
}
